<!DOCTYPE html>
<html>
<head>
<title>提示信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', 'Arial', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'STHeiti', 'WenQuanYi Micro Hei', 'SimSun', 'sans-serif';
	-webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
}

.wrapper {
	max-width: 700px;
	padding: 20px;
}
.success-tips{
	text-align: center;
	color: #fff;
	background-color: #2ea7e0;
	font-size: 20px;
	font-weight: bold;
	padding: 20px 0px;
}
</style>
</head>
<body>
<div class="wrapper"><p class="success-tips">{{msg}}</p></div>
</body>
</html>